In [ ]:
import pandas as pd
import psycopg2
try:
    # connection
    conn = psycopg2.connect("dbname=admin user=admintest password=pjdtest host=54.242.163.111 port=5432")
    merchandise =pd.read_sql('''SELECT * from merchandise''', conn)
    transaction=pd.read_sql('''SELECT * from transactions''',conn)

    
except (Exception, psycopg2.Error) as error :
    print ("Error while connecting to PostgreSQL", error)
finally:
    #closing database conn.
        if(conn):
            # cursor.close()
            conn.close()
            print("PostgreSQL conn is closed")

PostgreSQL conn is closed

In [ ]:
transaction

        id             merchandise  total_price  user_id
0        1   {'id': 46, 'qty': 44}      36252.0    68358
1        2   {'id': 143, 'qty': 5}       2766.0    35179
2        3   {'id': 32, 'qty': 15}      97908.0    37809
3        4  {'id': 103, 'qty': 34}      34885.0    66194
4        5    {'id': 45, 'qty': 7}      93663.0    50189
...    ...                     ...          ...      ...
1221  1223    {'id': 60, 'qty': 8}      80230.0    35719
1222  1224   {'id': 83, 'qty': 33}      70297.0    45366
1223  1225  {'id': 121, 'qty': 25}      36120.0    64657
1224  1226  {'id': 101, 'qty': 19}      48852.0    42852
1225  1227   {'id': 13, 'qty': 46}      25276.0    57450

[1226 rows x 4 columns]

In [ ]:
transaction["merchandise"][0]["id"]

46

In [ ]:
product_ID=[]
for i in transaction["merchandise"]:
  product_ID.append(i["id"])

In [ ]:
transaction["product_ID"]=product_ID

In [ ]:
quantity=[]
for i in transaction["merchandise"]:
  quantity.append(i["qty"])

In [ ]:
transaction["Quantity"]=quantity

In [ ]:
transaction.head()

   id             merchandise  total_price  user_id  product_ID  Quantity
0   1   {'id': 46, 'qty': 44}      36252.0    68358          46        44
1   2   {'id': 143, 'qty': 5}       2766.0    35179         143         5
2   3   {'id': 32, 'qty': 15}      97908.0    37809          32        15
3   4  {'id': 103, 'qty': 34}      34885.0    66194         103        34
4   5    {'id': 45, 'qty': 7}      93663.0    50189          45         7

In [ ]:
df=transaction.groupby(["user_id","product_ID"])["Quantity"].sum().unstack().reset_index().fillna(0).set_index("user_id")

In [ ]:
df

product_ID,1,2,3,4,5,6,7,8,9,10,...,141,142,143,144,145,146,147,148,149,150
user_id,,,,,,,,,,,,,,,,,,,,,
29707,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29775,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29799,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29920,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
29971,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,32.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69874,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69878,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,42.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69911,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69925,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
69981,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [ ]:
def encode_units(x):
  if x <=0:
    return 0
  if x >=1:
    return 1
df=df.applymap(encode_units)
df.head()

product_ID,1,2,3,4,5,6,7,8,9,10,...,141,142,143,144,145,146,147,148,149,150
user_id,,,,,,,,,,,,,,,,,,,,,
29707,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29775,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29799,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29920,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

Warning: Total number of columns (150) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
df.head()

product_ID,1,2,3,4,5,6,7,8,9,10,...,141,142,143,144,145,146,147,148,149,150
user_id,,,,,,,,,,,,,,,,,,,,,
29707,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29775,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29799,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29920,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
29971,0,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0

In [ ]:
# !pip install apyori
!pip install mlxtend --upgrade

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: mlxtend in /usr/local/lib/python3.7/dist-packages (0.20.0)
Requirement already satisfied: joblib>=0.13.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.1.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from mlxtend) (57.4.0)
Requirement already satisfied: numpy>=1.16.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.21.6)
Requirement already satisfied: matplotlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (3.2.2)
Requirement already satisfied: pandas>=0.24.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.3.5)
Requirement already satisfied: scikit-learn>=1.0.2 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.0.2)
Requirement already satisfied: scipy>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from mlxtend) (1.7.3)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (1.4.4)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (3.0.9)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from kiwisolver>=1.0.1->matplotlib>=3.0.0->mlxtend) (4.1.1)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.24.2->mlxtend) (2022.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.1->matplotlib>=3.0.0->mlxtend) (1.15.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn>=1.0.2->mlxtend) (3.1.0)

In [ ]:
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [ ]:
my_frequent_items=apriori(df,min_support=0.005,use_colnames=True)
my_frequent_items

/usr/local/lib/python3.7/dist-packages/mlxtend/frequent_patterns/fpcommon.py:115: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  DeprecationWarning,

      support    itemsets
0    0.007018         (1)
1    0.005263         (2)
2    0.015789         (3)
3    0.024561         (4)
4    0.015789         (5)
..        ...         ...
155  0.005263    (50, 60)
156  0.005263    (89, 61)
157  0.005263   (147, 62)
158  0.005263  (128, 116)
159  0.005263  (139, 117)

[160 rows x 2 columns]

In [ ]:
my_rules=association_rules(my_frequent_items,metric='lift',min_threshold=1)

In [ ]:
my_rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(137),(4),0.012281,0.024561,0.005263,0.428571,17.448980,0.004962,1.707018
1,(4),(137),0.024561,0.012281,0.005263,0.214286,17.448980,0.004962,1.257097
2,(100),(6),0.014035,0.012281,0.005263,0.375000,30.535714,0.005091,1.580351
3,(6),(100),0.012281,0.014035,0.005263,0.428571,30.535714,0.005091,1.725439
4,(43),(13),0.015789,0.014035,0.005263,0.333333,23.750000,0.005042,1.478947
5,(13),(43),0.014035,0.015789,0.005263,0.375000,23.750000,0.005042,1.574737
6,(34),(58),0.017544,0.024561,0.005263,0.300000,12.214286,0.004832,1.393484
7,(58),(34),0.024561,0.017544,0.005263,0.214286,12.214286,0.004832,1.250399
8,(40),(114),0.015789,0.017544,0.005263,0.333333,19.000000,0.004986,1.473684
9,(114),(40),0.017544,0.015789,0.005263,0.300000,19.000000,0.004986,1.406015
10,(50),(55),0.014035,0.010526,0.005263,0.375000,35.625000,0.005115,1.583158
11,(55),(50),0.010526,0.014035,0.005263,0.500000,35.625000,0.005115,1.971930
12,(50),(60),0.014035,0.019298,0.005263,0.375000,19.431818,0.004992,1.569123
13,(60),(50),0.019298,0.014035,0.005263,0.272727,19.431818,0.004992,1.355702
14,(89),(61),0.028070,0.017544,0.005263,0.187500,10.687500,0.004771,1.209177
15,(61),(89),0.017544,0.028070,0.005263,0.300000,10.687500,0.004771,1.388471
16,(147),(62),0.026316,0.010526,0.005263,0.200000,19.000000,0.004986,1.236842
17,(62),(147),0.010526,0.026316,0.005263,0.500000,19.000000,0.004986,1.947368
18,(128),(116),0.019298,0.019298,0.005263,0.272727,14.132231,0.004891,1.348465
19,(116),(128),0.019298,0.019298,0.005263,0.272727,14.132231,0.004891,1.348465
20,(139),(117),0.014035,0.017544,0.005263,0.375000,21.375000,0.005017,1.571930
21,(117),(139),0.017544,0.014035,0.005263,0.300000,21.375000,0.005017,1.408521